body{
    background-color: aquamarine;
}
/*mobile*/
@media (max-width:480px){
    body{
        background-color: lightsalmon ;
    }
}
/*tab*/
@media (min-width: 481px) and (max-width:1200px){
    body{
        background-color: powderblue;
    }
}
/*lap*/
@media (min-width: 1201px) and (max-width:1600px){
    body{
        background-color: limegreen;
    }
}

@media (min-width:1601px){
    body{
        background-color: seagreen;
    }
}